<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mobilenet">
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label>Image Classification</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="objectdetection">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Object Detection</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="posenet">
      <ion-icon name="body-outline"></ion-icon>
      <ion-label>Pose Detection</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
